audioread==2.1.9
Django==4.0.4
googlesearch_python==2020.0.2
inflect==5.3.0
langdetect==1.0.9
librosa==0.8.1
lws==1.2.7
matplotlib==3.4.2
multiprocess==0.70.11.1
numpy==1.19.3
pandas==1.2.4
Pillow==9.1.0
pydub==0.25.1
pygame==2.0.1
PyQt5==5.15.6
scikit_learn==1.1.0
scipy==1.6.3
sounddevice==0.4.1
SoundFile==0.10.3.post1
spotipy==2.18.0
torch==1.10.1+cu113
tqdm==4.61.0
umap==0.1.1
umap_learn==0.5.1
Unidecode==1.2.0
visdom==0.1.8.9
webrtcvad==2.0.10
youtube_dl==2021.6.6
youtube_search_python==1.6.2
